@import './nullify.scss';

/* | COMMON */
.container {
  max-width: 1110px;

  margin: 0 auto;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  color: rgba(0, 119, 101, 1);
}

.column {}
.row {}

/* | UNIVERSAL */
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* MAIN CONTENT */
/* | TOP */
.header {
  padding: 19px 0;


  background: rgba(0, 119, 101, 1);
  
  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
      &__img {
        flex: 0 1 184px;

        img {
          max-width: 100%;
        }
      }
    }
    
    .nav {
      &__list {
        display: flex;
        flex-wrap: wrap;


        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.75rem;
        text-align: center;
        color: rgb(255, 255, 255);

        li {
          padding: 0 8px 0 0;

          &:not(:last-child)::after {
            content: '|';
            padding-left: 8px;
          }

          a {
            color: inherit;
          }
        }
      }
    }
  }
  
}

/* | MIDDLE */
.content {
  .hero-1 {
    padding: 160px 0;


    background-image: url('../assets/images/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__row {
      display: flex;
      flex-direction: column;
    }
      &__info {
        font-size: 4.5rem;
        font-weight: 500;
        text-align: center;
        color: rgb(255, 255, 255);

      }
  }
  
  .problem {
    padding: 48px 0px 92px 0;


    background: rgba(238, 238, 238, 1);

    &__row {
      display: flex;
      flex-direction: column;
    }
      &__column {}
        &__title {
          margin: 0px 0px 16px 0;
        }
        &__text {
          font-size: 2rem;
          line-height: 38px;
          text-align: left;
          color: rgba(0, 0, 0, 1);


          p {
            margin: 0px 0px 15px 0;

            &:last-child {
              margin: 0;
            }
          }
        }
  }
  
  .hero-2 {
    padding: 128px 0;


    background-image: url('../assets/images/image-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__row {
      display: flex;
      flex-direction: column;
    }
      &__info {
        font-size: 3rem;
        font-style: italic;
        font-weight: 500;
        line-height: 3.5rem;
        text-align: center;
        color: rgba(255, 255, 255, 1);
      }
  }
  
  .introduction {
    padding: 48px 92px 0;

    &__row {
      display: flex;
      flex-direction: column;
    }
      &__column {}
        &__title {
          margin: 0px 0px 16px 0;
        }
        &__logo {
          float: left;
          margin: 0 48px 0px 0;
        }
        &__text {
          font-size: 2rem;
          line-height: 2.25rem;
          text-align: left;

          p {
            margin: 0px 0px 40px 0;

            &:last-child {
              margin: 0;
            }
          }
        }
  }
  
  .team {
    padding: 48px 0px 122px 0;


    background: rgba(238, 238, 238, 1);

    &__title {
      margin: 0px 0px 56px 0;
    }
      &__row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
        &__card {
          flex: 0 1 calc(100% / 3);
          display: flex;
          flex-direction: column;
          align-items: center;

          margin: 0px 0px 82px 0;

          .profile {
            &__img {
              flex: 0 1 168px;

              margin: 0px 0px 12px;

              img {
                max-width: 100%;
              }
            }
            &__name {
              font-size: 24px;
              font-weight: 700;
              line-height: 28px;
              text-align: center;
              color: rgba(0, 119, 101, 1);
            }
            &__position {
              font-size: 18px;
              font-style: italic;
              line-height: 21px;
              text-align: center;
            }
          }
        }
  }
}

/* | BOTTOM */
.footer {
  &__row {}
    &__text {}
}